/* Background image for body tag */

body {
    background-image: url("summitcrater.jpg");
}

@media (max-width: 640px){
    body{
        background-image: none;
        background-color: white;
    }
}


/*These are all used to style the header */
.top-bar {
    max-width: 91.666667%;
    background-color:#296E85;
    margin-bottom: 0px;
    height: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: 75%;
    z-index: 0;
}

@media (max-width: 640px){
    .top-bar {
        max-width: 100%;
        background-color:#296E85;
        margin-bottom: 0px;
        height: 125px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        opacity: 1;
        z-index: 0;
    }
}

.header {
    background-color: #1E5162;
    color: white;
    text-align: center;
    height: 110px;
    padding: 20px 15px 5px 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    max-width: 25%;
}

/* header class attributes for mobile */

@media (max-width: 640px){
    .header {
        background-color: #1E5162;
        color: white;
        text-align: center;
        height: 125px;
        padding: 5px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 0px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-top: 0px;
    }

}

/* These are used for the menu */

.menupstn {
    float: right;
    margin-right: 10px;
}

	/*Menu styling attributes for mobile */

    @media (max-width: 640px) {
        .menupstn {
    
            max-width: 100%;
            margin-right: 0px;
            float: none;
            position: relative;
            z-index: 1;
        }

    }

/*For whatever reason, assigning the margin-top properties in the menupstn
class don't work in so the move-down class accomplishes this */

.move-down{
    margin-top: 25px;
}

@media (max-width: 640px){
    .move-down{
        margin-top: 0px;
    }
}


/* This is where the styling for the site content starts */

/* h2c is basically shorthand for H2 Custom, I'm using this for
the titles of my content pages */
.h2c {

    border-bottom: 2px solid rgb(146, 143, 143);
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}

/* Center the content */
.center{
    margin-right: auto;
    margin-left: auto;
}

/*These are used to style the main content for the site*/

.content {
    background-color: white;
    border: 5px;
    border-color: black;
    padding: 10px;
    margin-top: 50px;
    max-width: 91.666667%;
    position: relative;
    z-index: 1;
}

@media (max-width: 640px){
    .content {
        max-width: 100%;
        z-index: -1;
        margin-top: 50px;
        margin-bottom: 0px;
    }
}

/* provide space between images and make them responsive to mobile */

.img-margin {
    margin-bottom: 10px;
    max-width: auto;
    max-height: auto;
}
 
/* footer and footer elements design */
.custom-footer {
    max-width: 91.666667%;
    background-color:#296E85;
    margin-bottom: 10px;
    height: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: 50%;
}

@media (max-width: 640px){
    .custom-footer {
        max-width: 100%;
        background-color:#296E85;
        margin-bottom: 0px;
        height: 130px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        opacity: 1;
    }
}

.social-icons {

    position: relative;
    margin-top: 5px;
    padding: 0px 0px 0px 0px;
    margin-left: 10px;
    background-color: white;
    border: 2px solid black;
    width: 55px;

}


